.search-svg {
  width: 3.6rem;
  height: 3.6rem;
  fill: none;
  stroke: #fff;
  stroke-width: 0.2rem;
}

.sheme-svg {
  width: 3.2rem;
  height: 3.2rem;
  fill: #2E82EA;
}

.arrow-svg {
  width: 2.4rem;
  height: 2.4rem;
  fill: none;

  stroke: #2E82EA;
  stroke-width: .2rem;
  transition: .2s stroke;
}
